* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    width: 100%;
    background-color: #F0F0F0;
    background-size: cover;
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}
.titelCase {
    padding-left: 2vw;
    padding-right: 2vw;
}
h1 {
    font-size: 800%;
    line-height: 9rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 1.5rem ;
    font-family: "Zen Dots", sans-serif;
}
h2 {
    font-size: 550%;
    line-height: 3.75rem;
    font-weight: 500;
    color: #000000;
    font-family: "Zen Dots", sans-serif;
}
h3 {
    font-size: 250%;
    line-height: 3.125rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0.200rem ;
    text-transform: uppercase;
    font-family: "Zen Dots", sans-serif;
}
h5 {
    font-size: 270%;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1.1875rem ;
}
h6 {
    color: #000000;
    font-size: 1.3em;
    line-height: 1.5em;
}
p {
    color: #000000;
    font-size: 100%;
    font-weight: 400;
}
.pijl {
    padding-left: 10px;
}



.navbar-toggler {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    position: relative;
    z-index: 1001; 
}

.navbar-toggler .dash {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: #000000;
    transition: all 0.3s ease;
}


.navbar-toggler.open .dash:nth-child(1) {
    transform: rotate(45deg); 
}

.navbar-toggler.open .dash:nth-child(2) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* Overlay */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #f15a2a;
    overflow-x: hidden;
    transition: 0.5s;

}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: end;
}

.overlay a {
    font-family: "Zen Dots", sans-serif;
    padding: 8px;
    text-decoration: none;
    font-size: 5vw;
    color: #000000;
    display: block;
    transition: 0.2s;
    padding-left: 4vw;
    padding-right: 4vw;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid #000000;
    padding-left: 2vw;
    padding-right: 2vw;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.navbar-brand img {
    max-width: 2rem;
    height: auto;
}

.navbar-toggler {
    color: #000000;
    cursor: pointer;
    transition: 0.2s;
}
.navbar-toggler:hover {
    color: #f15a2a;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.animated-text {
    color: #000000;
    height: 60px;
    overflow: hidden;
    padding-left: 20px;
}

.line {
    font-weight: 800;
    text-transform: uppercase;
    text-align: start;
    font-size: 14px;
    line-height: 60px;
}

.line:first-child {
    animation: anim 15s infinite;
}
.projectContainer {
    padding-left: 2vw;
    padding-right: 2vw;
}

@keyframes anim {
    0%, 20% {
        margin-top: 0;
    }
    25%, 45% {
        margin-top: -60px;
    }
    50%, 70% {
        margin-top: -120px;
    }
    75%, 95% {
        margin-top: -180px;
    }
    100% {
        margin-top: -240px;
    }
}

ul li {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.logo_hover:hover {
    transform: rotate(-1080deg);
    transition: transform 1s;
}


.size_logo {
    width: 20px;
    height: 20px;
}


.spaceing {
    margin-top: 100px;
}
.knop1 {
    background-color: #000000;
    width: 250px;
    height: 40px;
    border-radius: 0;
    border: 2px solid transparent;
}
.knop1:hover {
    background-color: #F0F0F0;
    border: 2px solid #000000;
    color: #000000;
}


.size_logo {
    width: 20px;
    height: 20px;
}
.text_head {
    padding-left: 10px;
    padding-bottom: 80px;
}
.text_head3 {
    font-size: 2vw;
    color: #000000;
}
.line3 {
    position: relative;
    margin-bottom: 30px;
  }
  .line4 {
    position: relative;
  }
.line3::before, .line4::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 96%; 
    height: 1px; 
    background-color: #000000;
  }
  .spatie {
    padding-right: 86px;
  }

  .video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspect ratio */
  }

  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  
  /* Mediaquery's*/
@media (max-width: 1278px) {
    .line3::before, .line4::before {
        width: 100%;
    }
}
@media (max-width: 990px) {
      h2 {
        font-size: 3.5rem;
    }
}
  @media (max-width: 767px) {
    .line::before, .line3::before, .line2::before, .line4::before {
        width: 80%;
      }
      h2 {
        font-size: 2rem;
    }
    .text_head3 {
        font-size: 1rem;
        padding-left: 30px;
    }
    .overlay a {
        padding-right: 40px;
    }
}
@media (max-width: 991px) {
    .header_wrapper .navbar-collapse {
        margin-top: -0.125rem;
    }
    .header_wrapper .menu-navbar-nav {
        text-align: center;
        padding-bottom: 0.9375rem;
    }
    .header_wrapper .nav-item .nav-link {
        margin-top: 0.9375rem;
    }
    .facebook {
        border-top: none;
    }
}

@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  @media (max-width: 768px) {
    h5 {
        font-size: 200%;
    }

}


.nextCase {
    border-top: 1px solid #000000;
    cursor: pointer;
    transition: .2s;
}
.nextCase:hover {
    background-color: #f15a2a;
}
.textCase {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 50px;
    padding-right: 150px;
    margin: 0;
    font-family: "Zen Dots", sans-serif;
    font-size: 22px;
}


@media (max-width: 574px) {
    .overlay a {
        font-size: 2rem;
    }
}