* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    width: 100%;
    background-color: #F0F0F0;
    background-size: cover;

}
.pulseButton {
    display: flex;
    align-items: center;
    padding-bottom: 140px;
}
.navbar-toggler {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    position: relative;
    z-index: 1001; 
}

.navbar-toggler .dash {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: #000000;
    transition: all 0.3s ease;
}


.navbar-toggler.open .dash:nth-child(1) {
    transform: rotate(45deg); 
}

.navbar-toggler.open .dash:nth-child(2) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* Overlay */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #f15a2a;
    overflow-x: hidden;
    transition: 0.5s;

}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: end;
}

.overlay a {
    font-family: "Zen Dots", sans-serif;
    padding-bottom: 8px;
    text-decoration: none;
    font-size: 5vw;
    color: #000000;
    display: block;
    transition: 0.2s;
    padding-left: 2vw;
    padding-right: 2vw;
}


.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid #000000;
    padding-left: 2vw;
    padding-right: 2vw;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.navbar-brand img {
    max-width: 2rem;
    height: auto;
}

.navbar-toggler {
    color: #000000;
    cursor: pointer;
    transition: 0.2s;
}
.navbar-toggler:hover {
    color: #f15a2a;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.animated-text {
    color: #000000;
    height: 60px;
    overflow: hidden;
    padding-left: 20px;
}

.line {
    font-weight: 800;
    text-transform: uppercase;
    text-align: start;
    font-size: 14px;
    line-height: 60px;
}

.line:first-child {
    animation: anim 15s infinite;
}
.projectContainer {
    padding-left: 2vw;
    padding-right: 2vw;
}
.extraPadding{
    padding-left: 3vw;
    padding-right: 3vw;
}
@keyframes anim {
    0%, 20% {
        margin-top: 0;
    }
    25%, 45% {
        margin-top: -60px;
    }
    50%, 70% {
        margin-top: -120px;
    }
    75%, 95% {
        margin-top: -180px;
    }
    100% {
        margin-top: -240px;
    }
}

ul li {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.logo_hover:hover {
    transform: rotate(-1080deg);
    transition: transform 1s;
}
.logo_hover2{
    padding-top: 10px;
    width: 65px;
    padding-left: 2vw;
}

.size_logo {
    width: 20px;
    height: 20px;
}



.text_head {
    padding-left: 10px;
    padding-bottom: 80px;
}
.text_head3 {
    font-size: 2vw;
    color: #000000;
}
.text_head2 {
    padding-left: 10px;

}
a {
    text-decoration: none;
}
.knop1 {
    background-color: #F0F0F0;
    width: 250px;
    height: 80px;
    border-radius: 0;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #000000;
    border: 1px solid #000000;
    transition: 0.2s;
}
.knop1:hover {
    background-color: #000000;
    border: 2px solid #000000;
    color: #F0F0F0;
}
.pijl {
    padding-left: 10px;
}

circle {
    stroke: #000000; 
    stroke-width: 2px;
    stroke-opacity: 1;
  }
  
  .pulse {
    fill: #000000;
    fill-opacity: 0;
    transform-origin: 50% 50%;
    animation-duration: 2s;
    animation-name: pulse;
    animation-iteration-count: infinite;
  }
  
  @keyframes pulse {
    from {
      stroke-width: 3px;
      stroke-opacity: 1;
      transform: scale(0.3);
    }
    to {
      stroke-width: 0;
      stroke-opacity: 0;
      transform: scale(2);
    }
  }


.bigTitel {
    font-size:7.8vw;
    font-weight: 700;
    color: #000000;
    margin-bottom: 1.5rem ;
    font-family: "Zen Dots", sans-serif;
}


.introTitel {
    font-size: 7vw;
    font-weight: 500;
    color: #000000;
    font-family: "Zen Dots", sans-serif;
}
.contactText {
    padding-bottom: 0.5rem;
    font-size: 4vw;
    font-weight: 500;
    color: #000000;
    font-family: "Zen Dots", sans-serif;
}
@media (min-width: 2000px) {
    .introTitel   {
     padding-top: 80px;
    }
 }
h3 {
    font-size: 250%;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0.200rem ;
    text-transform: uppercase;
    font-family: "Zen Dots", sans-serif;
}
h4 {
    font-size: 260%;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1.1875rem ;
    font-family: "Zen Dots", sans-serif;
}
.textProject {
    font-size: 1vw;
}
.projectTitel {
    font-size: 2.5vw;
}
.projectTitel2 {
    padding-top: 130px;
    font-size: 1.5vw;
}
.titelText {
    padding-top: 10px;
}
.titelText2 {
    padding-top: 10px;
    font-size: 1.2vw;
}
.splitsTitel {
    display: flex;
    justify-content: space-between;
}
h5 {
    font-size: 3vw;
    font-weight: 500;
    color: #000000;
}
p {
    color: #000000;
    font-size: 100%;
    font-weight: 400;
}
.kleur_icon {
    color: #000000;
}
.paragraaf_banner {
    font-size: 3vw;
    color: #f15a2a;
}
@media (min-width: 2000px) {
    .paragraaf_banner  {
     padding-bottom: 260px;
    }
 }
.foto_ruben {
    width: 100%;
    padding-top: 50px;
}
.banner_wrapper {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 12rem;
    z-index: 1;
    width: 100%;
}
.tussenstuk {
    padding-top: 80px;
}
.image-section {
    height: auto; 
}

.text-section {
    padding-right: 60px;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: auto;
}

.line3 {
    position: relative;
    margin-bottom: 30px;
  }
  .line4 {
    position: relative;
  }
.line3::before, .line4::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 96%; 
    height: 1px; 
    background-color: #000000;
  }
.verticale_line {
    position: relative;
    padding-left: 60px; 
  }
  
.verticale_line::before {
    content: '';
    position: absolute;
    top: 51%; 
    left: 0;
    transform: translateY(-50%); 
    width: 1px;
    height: 120%; 
    background-color: #000000; 
  }

section {
    position: relative;
  }

  a#scroll-btn {
    position: absolute;
    height: 3.5em;
    width: 1.8em;
    border: 0.2em solid #000000;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 2em;
    border-radius: 3em;
    margin-bottom: 30px;
  }
  a#scroll-btn:before {
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    top: 0.3em;
    height: 0.5em;
    width: 0.5em;
    background-color: #000000;
    border-radius: 50%;
    animation: move-down 2s infinite;
  }
  @keyframes move-down {
    80% {
      opacity: 0.5;
    }
    100% {
      transform: translateY(2.1em);
      opacity: 0;
    }
  }
.about_wrapper {
    width: 85vw;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6vw;
    padding-bottom: 9vw;
    display: flex;
}
.textAbout {
    width: 40%;
}
.img-hover-zoom {
    overflow: hidden;
    width: 35%;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.eigenfoto {
    width: 100%;
    transition: transform 1.5s;
    box-shadow: none;
    object-fit: fill;
}

.eigenfoto:hover {
    transform: scale(1.5);
}

@media (max-width: 768px) {
    .about_wrapper {
        flex-direction: column;
        align-items: center;
    }
    
    .textAbout, .img-hover-zoom {
        width: 100%;
        text-align: center;
    }
}
div.scroll-doos {
    background-color: #F0F0F0;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    padding-bottom: 50px;

}

.scroll-doos::-webkit-scrollbar {
    display: none;
}

div.scroll-doos img {
    padding: 10px;
}


.fotos {
    transition: all .3s ease 0s;
}

.fotos:hover {
    border-radius: 50px;
}
.foto_case {
    transition: all .5s ease 0s;
}
.foto_case:hover {
    transform: scale(1.05);
    cursor: url('assets/cursorHover.svg'), auto;
    border-radius: 20px;
}
.img-wrapper {
    overflow: hidden;
    transition: all .4s;
}

.img-wrapper:hover {
    border-radius: 20px;
}
.contact {
  padding-top: 40px;
  padding-bottom: 60px;
}
@media (min-width: 2000px) {
    .contact {
        padding-top: 80px;
        padding-bottom: 100px;
    }
 }
.email {
    color: #f15a2a;
    font-size: 4vw; 
    font-family: "Zen Dots", sans-serif;
    margin-bottom: 90px;
}

.email:hover {
    color: #f15a2a;
    text-decoration: underline;
}

.row [class*="col-"] {
    margin: 0;
    padding: 0;
}
.socials {
    margin-top: 20px;
    overflow: hidden;
}

.social-link {
    display: block;
    text-align: center;
    padding: 65px;
    transition: background-color 0.2s ease;
    border: 2px solid #000000;
}

.social-link span {
    color: #000000; 
}

.social-link:hover {
    background-color: #f15a2a; 
}

.instagram, .linkedin, .facebook {
    border: 1px solid #000000;
    border-left: none;
}
.footer-text {
    padding-top: 50px;
    font-size: 0.7rem;
    line-height: 1.25rem;
    font-weight: 600;
    
}
span.color_end {
    color: #f15a2a;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 36.25%; /* 16:9 aspect ratio */
    background-color: #F0F0F0;
    border-radius: 25px;
  }

  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
/* Mediaquery's*/

@media (max-width: 1450px) {
    .textProject {
        font-size: 1.2rem;
    }
}
@media (max-width: 1278px) {
    .line3::before, .line4::before {
        width: 100%;
    }
   
}
@media (max-width: 1399px) {

    .verticale_line::before {
        display: none;
    }
    a#scroll-btn {
        bottom: 4em;
      }
}
@media (min-width: 2000px) {
    a#scroll-btn {
        bottom: 0.5em;
      }
}
@media (max-width: 995px) {
    a#scroll-btn {
        bottom: 2em;
      }
}
@media (max-width: 975px) {
    .social-link {
        padding: 28px;
    }
    a#scroll-btn {
        bottom: 2em;
      }
}
@media (max-width: 991px) {
    .header-scrolled {
        height: auto;
    }
    .header_wrapper .navbar-collapse {
        margin-top: -0.125rem;
    }
    .header_wrapper .menu-navbar-nav {
        text-align: center;
        padding-bottom: 0.9375rem;
    }
    .header_wrapper .nav-item .nav-link {
        margin-top: 0.9375rem;
    }
    .facebook {
        border-top: none;
    }
}

@media (min-width: 768px) {
    .socials {
        margin-top: 50px;
    }
    .footer-text {
        padding-top: 30px; 

    }
}
@media (max-width: 767px) {
    .overlay a {
        padding-right: 40px;
    }
    .line::before, .line3::before, .line2::before, .line4::before {
        width: 80%;
      }
      .text_head3 {
        font-size: 1rem;
        padding-left: 20px;
    }
    .pulseButton {
        justify-content: center;
        padding-bottom: 40px;
    }
    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: center;
    }
    h2 {
        font-size: 1.875rem;
        text-align: center;
    }
    h3 {
        font-size: 1.5625rem;
        text-align: center;
    }
    .projectTitel, .projectTitel2 {
        font-size: 1.8rem;
        text-align: center;
    }
    .textProject {
        font-size: 1rem;
        text-align: center;
    }
    .centerButton {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .contactText {
        font-size: 2rem;
    }
    .text-section {
        padding: 0;
    }
    h5 {
        font-size: 1.5625rem;
        text-align: center;
    }
    .titelText2 {
        font-size: 1rem;
    }
    .splitsTitel {
       flex-direction: column;
    }
    .paragraaf_banner {
        font-size: 1.3625rem;
        text-align: center;
        padding-bottom: 100px;
    }
    .verticale_line {
        padding: 0;
        margin: 0;
        padding-top: 30px;
    }
    .socials {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-text {
        padding-top: 20px; 
        font-size: 0.6rem;
    }
    .linkedin {
        border-top: none;
    }
    .instagram, .linkedin, .facebook {
        border-right: none;
    }
    .banner_wrapper {
        padding-top: 9rem;
        height: 520px;
    }
    a#scroll-btn {
        bottom: 2em;
      }
      .email {
        font-size: 30px;
    }
}
@media screen and (max-width: 500px) {
    a#scroll-btn {
      font-size: 12px;
    }
  }
@media screen and (max-width: 450px) {
    .line::before {
        width: 100%;
      }
}
@media (max-width: 480px) {
    .email {
        font-size: 22px; 
    }
    h1 {
        font-size: 2.2rem;
        line-height: 3rem;
    }
}
@media (max-width: 574px) {
    .container-md {
        padding-right: 20px; 
        padding-left: 20px;  
    }
   
    .projectContainer {
        padding-right: 20px; 
        padding-left: 20px;  
    }
    .overlay a {
        font-size: 2rem;
    }
   
}