* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    width: 100%;
    background-color: #F0F0F0;
    background-size: cover;
}
.hamburgerMenu {
    font-size: 25px;
}

/* Overlay */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #f15a2a;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;

}

.overlay a {
    font-family: "Zen Dots", sans-serif;
    padding: 8px;
    text-decoration: none;
    font-size: 5vw;
    color: #1c1c1c;
    display: block;
    transition: 0.2s;
    padding-left: 4vw;
    padding-right: 4vw;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    right: 7px;
    top: 1;
    font-size: 45px;
}

/* Add a smaller font size for small screens */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Navbar */
.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 2px solid #1c1c1c;
    padding-left: 4vw;
    padding-right: 4vw;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.navbar-brand img {
    max-width: 2rem;
    height: auto;
}

.navbar-toggler {
    color: #1c1c1c;
    cursor: pointer;
    transition: 0.2s;
}
.navbar-toggler:hover {
    color: #f15a2a;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;

}

.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.animated-text {
    color: #1c1c1c;
    height: 60px;
    overflow: hidden;
    padding-left: 20px;
}



.line {
    font-weight: 800;
    text-transform: uppercase;
    text-align: start;
    font-size: 14px;
    line-height: 60px;
}

.line:first-child {
    animation: anim 15s infinite;
}
.projectContainer {
    padding-left: 4vw;
    padding-right: 4vw;
}
@keyframes anim {
    0%, 20% {
        margin-top: 0;
    }
    25%, 45% {
        margin-top: -60px;
    }
    50%, 70% {
        margin-top: -120px;
    }
    75%, 95% {
        margin-top: -180px;
    }
    100% {
        margin-top: -240px;
    }
}

ul li {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.logo_hover:hover {
    transform: scale(1.2);
    transition: transform .5s;
}


.size_logo {
    width: 20px;
    height: 20px;
}


.text_head {
    padding-left: 10px;
    padding-bottom: 80px;
}
.text_head2 {
    padding-left: 10px;

}
a {
    text-decoration: none;
}
.knop1 {
    background-color: #1c1c1c;
    width: 250px;
    height: 40px;
    border-radius: 0;
    border: 2px solid transparent;
}
.knop1:hover {
    background-color: #F0F0F0;
    border: 2px solid #1c1c1c;
    color: #1c1c1c;
}
.pijl {
    padding-left: 10px;
}
.main-btn {
    display: inline-block;
    font-weight: 500;
    font-size: 0.975rem;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border: 0.125rem transparent;
    padding: 10px 2rem;
    transition: all .2s ease-in-out;
    --webkit-transition: all .2s ease-in-out;
}
.primary-btn {
    background-color: #98A68F;
    color: #F0F0F0;
    box-shadow: 0 0 30px rgba(152, 166, 143, 0.2);
    font-family: "Zen Dots", sans-serif;
}
.primary-btn:hover{
    border-color: #98A68F;
    background: #F0F0F0;
    color: #98A68F;
    box-shadow: none;
}
.secondary-btn {
    border: 2px solid #1c1c1c;
    color: #1c1c1c;
    font-family: "Zen Dots", sans-serif;
}
.secondary-btn:hover {
    border: 2px solid transparent;
    color: #F0F0F0;
    background-color: #1c1c1c;
    box-shadow: none;
}

.bigTitel {
    font-size: 8vw;
    line-height: 9rem;
    font-weight: 700;
    color: #1c1c1c;
    margin-bottom: 1.5rem ;
    font-family: "Zen Dots", sans-serif;
}
@media (min-width: 2000px) {
   .bigTitel {
    padding-top: 65px;
    padding-bottom: 40px;
   }
}
.introTitel {
    padding-bottom: 0.5rem;
    font-size: 7vw;
    line-height: 3.75rem;
    font-weight: 500;
    color: #1c1c1c;
    font-family: "Zen Dots", sans-serif;
}
.contactText {
    padding-bottom: 0.5rem;
    font-size: 4vw;
    line-height: 3.75rem;
    font-weight: 500;
    color: #1c1c1c;
    font-family: "Zen Dots", sans-serif;
}
@media (min-width: 2000px) {
    .introTitel   {
     padding-top: 100px;
    }
 }
h3 {
    font-size: 250%;
    line-height: 3.125rem;
    font-weight: 700;
    color: #1c1c1c;
    margin-bottom: 0.200rem ;
    text-transform: uppercase;
    font-family: "Zen Dots", sans-serif;
}
h4 {
    font-size: 260%;
    font-weight: 500;
    color: #1c1c1c;
    margin-bottom: 1.1875rem ;
    font-family: "Zen Dots", sans-serif;
}
.textProject {
    font-size: 1vw;
}
.projectTitel {
    font-size: 2.5vw;
}
.titelText {
    padding-top: 10px;
}
h5 {
    font-size: 3vw;
    font-weight: 500;
    color: #1c1c1c;
}
p {
    color: #1c1c1c;
    font-size: 100%;
    font-weight: 400;
}
.kleur_icon {
    color: #1c1c1c;
}
.paragraaf_banner {
    font-size: 3vw;
    color: #f15a2a;
    padding-bottom: 140px;
}
@media (min-width: 2000px) {
    .paragraaf_banner  {
     padding-bottom: 180px;
    }
 }
.foto_ruben {
    width: 100%;
    padding-top: 50px;
}
.banner_wrapper {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 11rem;
    z-index: 1;
    width: 100%;
}
.tussenstuk {
    padding-top: 80px;
}
.image-section {
    height: auto; 
}

.text-section {
    padding-right: 60px;
}

.image-section img {
    width: 100%;
    height: auto;
}

.line3 {
    position: relative;
    margin-bottom: 30px;
  }
  
.line3::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 92%; 
    height: 2px; 
    background-color: #1c1c1c;
  }
.verticale_line {
    position: relative;
    padding-left: 60px; 
  }
  
.verticale_line::before {
    content: '';
    position: absolute;
    top: 51%; 
    left: 0;
    transform: translateY(-50%); 
    width: 2px;
    height: 120%; 
    background-color: #1c1c1c; 
  }

section {
    position: relative;
  }

  a#scroll-btn {
    position: absolute;
    height: 3.5em;
    width: 1.8em;
    border: 0.2em solid #1c1c1c;
    margin: auto;
    left: 0;
    right: 0;
    bottom: .02em;
    border-radius: 3em;
    margin-bottom: 30px;
  }
  a#scroll-btn:before {
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    top: 0.3em;
    height: 0.5em;
    width: 0.5em;
    background-color: #1c1c1c;
    border-radius: 50%;
    animation: move-down 2s infinite;
  }
  @keyframes move-down {
    80% {
      opacity: 0.5;
    }
    100% {
      transform: translateY(2.1em);
      opacity: 0;
    }
  }
.about_wrapper {
    width: 85vw;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6vw;
    padding-bottom: 9vw;
    display: flex;
}
.textAbout {
    width: 40%;
}
.img-hover-zoom {
    overflow: hidden;
    width: 35%;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.eigenfoto {
    width: 100%;
    transition: transform 1.5s;
    box-shadow: none;
    object-fit: fill;
}

.eigenfoto:hover {
    transform: scale(1.5);
}
div.scroll-doos {
    background-color: #F0F0F0;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    padding-bottom: 50px;

}

.scroll-doos::-webkit-scrollbar {
    display: none;
}

div.scroll-doos img {
    padding: 10px;
}


.fotos {
    transition: all .5s ease 0s;
}

.fotos:hover {
    border-radius: 50px;
}
.foto_case {
    transition: all .5s ease 0s;
}
.foto_case:hover {
    border-radius: 30px;
}

.contact {
    font-size: 10px;
}
.email {
    color: #f15a2a;
    font-size: 45px; 
    font-family: "Zen Dots", sans-serif;
}

.email:hover {
    color: #f15a2a;
    text-decoration: underline;
}

.row [class*="col-"] {
    margin: 0;
    padding: 0;
}
.socials {
    margin-top: 20px;
    overflow: hidden;
}

.social-link {
    display: block;
    text-align: center;
    padding: 65px;
    transition: background-color 0.2s ease;
    border: 2px solid #1c1c1c;
}

.social-link span {
    color: #1c1c1c; 
}

.social-link:hover {
    background-color: #f15a2a; 
}

.instagram, .linkedin, .facebook {
    border: 2px solid #1c1c1c;
    border-left: none;
}
.footer-text {
    padding-top: 50px;
    font-size: 0.7rem;
    line-height: 1.25rem;
    font-weight: 600;
}
span.color_end {
    color: #f15a2a;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 36.25%; /* 16:9 aspect ratio */
    background-color: #F0F0F0;
    border-radius: 25px;
  }

  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
/* Mediaquery's*/
@media (max-width: 1278px) {
    .line3::before {
        width: 100%;
    }
}
@media (max-width: 1399px) {
    .verticale_line::before {
        display: none;
    }
    a#scroll-btn {
        bottom: 4em;
      }
}
@media (min-width: 2000px) {
    a#scroll-btn {
        bottom: 0.5em;
      }
}
@media (max-width: 995px) {
    a#scroll-btn {
        bottom: 2em;
      }
}
@media (max-width: 975px) {
    .social-link {
        padding: 15px;
    }
    a#scroll-btn {
        bottom: 2em;
      }
}
@media (max-width: 991px) {
    .about_wrapper {
        height: 1400px;
    }
    .header-scrolled {
        height: auto;
    }
    .header_wrapper .navbar-collapse {
        margin-top: -0.125rem;
    }
    .header_wrapper .menu-navbar-nav {
        text-align: center;
        padding-bottom: 0.9375rem;
    }
    .header_wrapper .nav-item .nav-link {
        margin-top: 0.9375rem;
    }
    .facebook {
        border-top: none;
    }
}

@media (min-width: 768px) {
    .socials {
        margin-top: 50px;
    }
    .footer-text {
        padding-top: 30px; 
    }
}
@media (max-width: 767px) {
    .line::before, .line3::before, .line2::before {
        width: 80%;
      }
    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: center;
    }
    h2 {
        font-size: 1.875rem;
        text-align: center;
    }
    h3 {
        font-size: 1.5625rem;
        text-align: center;
    }
    h5 {
        font-size: 1.5625rem;
        text-align: center;
    }
    .paragraaf_banner {
        font-size: 1.3625rem;
        text-align: center;
    }
    .verticale_line {
        padding: 0;
        margin: 0;
        padding-top: 30px;
    }
    .socials {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-text {
        padding-top: 20px; 
    }
    .social-link {
        padding: 10px;
    }
    .linkedin {
        border-top: none;
    }
    .instagram, .linkedin, .facebook {
        border-right: none;
    }
    .banner_wrapper {
        padding-top: 5rem;
        height: 600px;
    }
    a#scroll-btn {
        bottom: 2em;
      }
      .email {
        font-size: 30px;
    }
}
@media screen and (max-width: 500px) {
    a#scroll-btn {
      font-size: 12px;
    }
  }
@media screen and (max-width: 450px) {
    .line::before {
        width: 100%;
      }
}
@media (max-width: 480px) {
    .email {
        font-size: 22px; 
    }
    h1 {
        font-size: 2.2rem;
        line-height: 3rem;
    }
}
@media (max-width: 574px) {
    .container-md {
        padding-right: 20px; /* Voeg rechts padding toe aan de container */
        padding-left: 20px;  /* Voeg links padding toe aan de container */
    }
}